* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 12pt;
}


body {
  background-color: rgb(38, 45, 85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Form ------------------------------------------------------------------------*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-holder {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: fit-content;
  padding: 10px;
  margin-bottom: 20px;
}

.form-text-holder {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form-title {
  font-size: 16pt;
  margin-bottom: 20px;
  width: 30vw;
} 

.form-item {
  margin-bottom: 10px;
  width: 30vw;
}


.form-item-email {
  margin-bottom: 10px;
  width: 30vw;
}

.form-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 30vw;
}

.form-submitted a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color:black;
  border: black 2px solid;
  float: left;
}


.form-submitted-json {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.json-text {
  width: 20px;
}

/* Inputs ------------------------------------------------------------------------*/

input {
  border: 2px solid rgb(106, 188, 255);
}

input[type = "submit"] {
  padding: 5px;
  background-color:rgb(177, 220, 255);
  box-shadow: 0px 2px;
}

input[type = "submit"]:hover {
  background-color:rgb(106, 188, 255);
  cursor: pointer;
  
}

input[type = "submit"]:active {
  background-color:rgb(106, 188, 255);
  transform: translateY(2px);
  box-shadow: 0px 0px;
  border-color: none;
}

input:focus {
  background-color: rgb(177, 220, 255);
}

input::-webkit-file-upload-button {
 background-color: rgb(177, 220, 255);
 padding: 10px;
 font-family: monospace;
 border: none;
 
 
}
input::-webkit-file-upload-button:hover {
  background-color: rgb(106, 188, 255);
  border: none;
  cursor: pointer;
 }



textarea {
  border: 2px solid  rgb(106, 188, 255);
  max-width: max-content;
  max-height: 100px;
}

select {
  border: 2px solid  rgb(106, 188, 255);
}


/*Optimizing for screen size*/

@media only screen and (max-width: 600px) {
  .form-holder {
    width: 50vw;
    align-items: baseline;
  }

  .form-item-email {
    width: 40vw;
  }

  .form-name-container {
    grid-template-columns: 24vw 24vw;
    column-gap: 2vw;
    width: 40vw;
  }

  .form-item {
    width: 40vw;
  }

  .form-submitted {
    width: 40vw;
  }



}


@media only screen and (min-width: 600px) {
  
  .form-item {
    width: 12vw;
  }

}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background:  rgb(177, 220, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(106, 188, 255); 
}